.header-left {
	float: left;
	position: fixed;
	width: 50%;
	/* background-color: #044dd1; */
	outline: 1px solid;
	height: 100vh;
	min-height: 600px;
}

.img {
	width: 140px;
	height: 140px;
	margin: 0 auto;
	background-image: url('https://avatars1.githubusercontent.com/u/18435754?s=460&v=4');
	/* background-image: url('http://the-kish.com/img/Head-2.gif'); */
	background-size: cover;
}

.header-right {
	width: 50%;
	float: right;
}